* {
  margin: 0;
  padding: 0;
}
body {
  margin: 5%;
  background-color: rgb(63, 63, 63);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}

.ToolsBar {
  width: auto;
  grid-column: 1;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #cecece;
  box-shadow: 2px 2px 5px 2px #000000;
}
.DrawBoard {
  position: relative;
  width: auto;
  height: 700px;
  box-shadow: 2px 0px 5px 2px #000000;
  grid-column: 2;
  grid-row: 1;
  margin: 0 0 2% 2%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

button:hover {
  background-color: #a2a1a1;
}

.UnderBoxButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #797979;
  box-shadow: 2px 2px 5px 0px #000000;
}

.UnderBox {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0 2% 2%;
  height: auto;

  padding: 2% 0 2% 1%;
}

.UnderBoxExport {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2% 2% 2% 0;
  height: auto;

  padding: 2% 0 2% 1%;
}

.SaveCTA {
  width: auto;
  margin-right: 2%;
  padding: 2%;
  border: none;
  background-color: #cecece;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.316);
  border-radius: 5px;
}

.LoadCTA {
  margin-right: 2%;
  padding: 2%;
  border: none;
  background-color: #cecece;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.316);
  border-radius: 5px;
}

.ExportPNGCTA {
  margin-right: 2%;
  padding: 2%;
  border: none;
  background-color: #cecece;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.316);
  border-radius: 5px;
}

.ExportPDFCTA {
  margin-right: 2%;
  padding: 2%;
  border: none;
  background-color: #cecece;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.316);
  border-radius: 5px;
}

svg {
  text-align: center;
}

.Tools {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: grab;

  margin-right: 2%;
  padding: 2%;
  border: none;
  background-color: #cecece;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(114, 114, 114, 0.316);
  border-radius: 5px;
}

.tenu {
  border-style: dashed;
}

.ColorsInput {
  margin-top: 50%;
}

#FontStyle {
  margin-top: 50%;
  text-align: center;
}

.ButtonTools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.trash {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5%;
}

#SizeWidth {
  width: 40px;
}

#SizeHeight {
  width: 40px;
}

p {
  font-size: 12px;
  margin: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.InputInsert {
  margin: 5%;
}

.large {
  transform: scale(1.2);
}

.large2 {
  width: 500px;
}

.Resizer0 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: transparent; */
  position: absolute;
  left: -5px;
  top: -5px;
  border: solid transparent;
  border-radius: 50%;
  cursor: nw-resize; /*resizer cursor*/
}

.Resizer1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: transparent; */
  position: absolute;
  right: -5px;
  top: -5px;
  border: solid transparent;

  background: rgb(62, 62, 255);
  border-radius: 50%;
  cursor: ne-resize; /*resizer cursor*/
}

.ResizerTop1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: transparent; */
  position: absolute;
  right: -5px;
  top: -5px;
  border: solid transparent;
  border-radius: 50%;
  cursor: ne-resize; /*resizer cursor*/
}

.Resizer2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: black; */
  position: absolute;
  left: -5px;
  bottom: -5px;
  border: solid transparent;
  background: rgb(62, 62, 255);
  border-radius: 50%;
  cursor: ne-resize; /*resizer cursor*/
}

.Resizer2:hover {
  width: 5px;
  height: 5px;
  border: solid transparent;
  background: rgb(62, 62, 255);
}

.Resizer1:hover {
  width: 5px;
  height: 5px;
  border: solid transparent;
  background: rgb(62, 62, 255);
}

.Resizer1:hover:before {
  width: 10px;
  height: 10px;
  border: solid transparent;
  background: rgb(62, 62, 255);
}

.Resizer3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: transparent; */
  position: absolute;
  right: -5px;
  bottom: -5px;
  border: solid transparent;
  border-radius: 50%;
  cursor: nw-resize; /*resizer cursor*/
}

.RectangleCreator {
  position: relative;
  width: 60px;
  height: 60px;
  border: solid;
  top: 0;
  left: 0;
  cursor: move;
}

.TextCreator {
  position: relative;

  cursor: grab;
  overflow: auto;
}

.TextCreator::-webkit-resizer {
  display: none;
  cursor: ne-resize;
}

/* .TextCreator:hover::-webkit-resizer {
  display: none;
  cursor: pointer;
} */

select {
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  border-radius: 5px;
}

.ButtonsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.ButtonsFont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#BorderColor {
  border-bottom: solid 0.5px;
  padding-bottom: 5%;
  width: 150px;
}

#FontColor {
  border-bottom: solid 0.5px;
  padding-bottom: 5%;
  width: 150px;
}

#BackgroundColor {
  border-bottom: solid 0.5px;
  padding-bottom: 5%;
  width: 150px;
}
